body {
background: linear-gradient(135deg, #0a0a0a, #1a2030);
color: #e8e8e8;
font-family: "Space Grotesk", sans-serif;
}

header a {
padding: 20px;
}

h1 {
text-align: center;
}

main { 
max-width: 800px;
margin: auto;
text-align: center;  
}
