header a {
display: block;
width: 100%; 
text-decoration: none;
padding: 20px;
font-size: 20px;
border-bottom: 1px solid #DDDDDD; 
}

body {
background: linear-gradient(90deg, #0a0a0a, #1a2030);
color: #e8e8e8;
font-family: "Space Grotesk", sans-serif;
}

a { 
font-family: "Audiowide", sans-serif;
color: #73ced1; 
}

h1 {
text-align: center;
}

ul { 
  list-style: none; 
  padding: 0; 
} 

main { 
max-width: 800px;
margin: auto;
text-align: center;
padding-top: 50px; 
}
